body
{
    background-color: #4e555b;
    color: white;
}

h1
{
    font-size: 5rem;
}

.main
{
    margin: 0px;
}

#btn-check
{
    font-size: 3rem;
    box-shadow: 5px 5px #464b4f;
}

input[type=text]
{
    border-radius: 20%;
    border: solid black 0px;
    height: 8rem;
    width: 8rem;
    font-size: 4rem;
    text-align: center;
    box-shadow: 5px 5px #464b4f;
    outline: none;
    margin-left: 1rem;
}

.answer
{
    font-size: 2.7rem;
}

.row
{
    margin: auto;
    width: 90vw;
}

.break
{
  flex-basis: 100%;
  height: 0;
}
