{% extends "basic.html" %}
{% load static %}
{% block title %}Równanie kwadratowe{% endblock %}
{% block static_handling %}
<link type="text/css" rel="stylesheet" href="{% static 'css/quadratic.css' %}">
<script type="text/javascript" src="{% static 'js/quadratic.js' %}"></script>
{% endblock %}
{% block page %}
<div class="w-100 text-center main">
    <br>
    <h1 id="formula">&fnof;(x) = {{equat|safe}}</h1>
    <br> <br>
    <form action="" method="POST">
        {% csrf_token %}
        <input type="text" name="a" placeholder="a" onfocus="this.placeholder=''" onblur="this.placeholder = 'a'" maxlength="3">
        <input type="text" name="b" placeholder="b" onfocus="this.placeholder=''" onblur="this.placeholder = 'b'" maxlength="3">
        <input type="text" name="c" placeholder="c" onfocus="this.placeholder=''" onblur="this.placeholder = 'c'" maxlength="3">
        <br> <br> <br>
        <button type="submit" id="btn-check" class="btn btn-secondary">Sprawdź</button>
        <br> <br>
    </form>
    <div class="row w-100">
        <div class="col col-lg col-md-12 answer">{{x1|safe}}</div>
        <div class="col col-lg col-md-12 answer">{{x2|safe}}</div>
        <div class="col col-lg col-md-12 answer">{{p|safe}}</div>
        <div class="col col-lg col-md-12 answer">{{q|safe}}</div>
        <div class="col col-lg col-md-12 answer">{{delta|safe}}</div>
    </div>
</div>
{% endblock %}
