{% extends "basic.html" %}
{% load static %}
{% block title %}Równanie kwadratowe{% endblock %}
{% block static_handling %}
<link type="text/css" rel="stylesheet" href="{% static 'css/quadratic.css' %}">
<script type="text/javascript" src="{% static 'js/quadratic.js' %}"></script>
{% endblock %}
{% block page %}
<div class="container text-center">
    <br>
    <h1 id="formula">&fnof;(x) = {{equat|safe}}</h1>
    <br>
    <form action="" method="POST">
        {% csrf_token %}
        <input class="input" type="text" name="a" placeholder="a" onfocus="this.placeholder=''" onblur="this.placeholder = 'a'" maxlength="3">
        <input class="input" type="text" name="b" placeholder="b" onfocus="this.placeholder=''" onblur="this.placeholder = 'b'" maxlength="3">
        <input class="input" type="text" name="c" placeholder="c" onfocus="this.placeholder=''" onblur="this.placeholder = 'c'" maxlength="3">
        <br> <br>
        <button type="submit" id="btn-check" class="btn btn-secondary">Sprawdź</button>
        <br> <br>
    </form>
    <div class="answers">
        <p>x&#8321; = {{x1}}</p>
        <p>x&#8322; = {{x2}}</p>
        <p>p = {{p}}</p>
        <p>q = {{q}}</p>
        <p>&#8710; = {{delta}}</p>
    </div>
</div>
{% endblock %}
